.header {
  width: 100%;
  background-color: rgb(74, 196, 111);
  border-radius: 8px;
  color: #fff;
  padding: 1%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a span {
  color: black;
  transition: 0.2s ease all;
}

.header a:hover span {
  color: yellow;
}

a {
  text-decoration: none !important;
  font-size: 18px;
  color: yellow !important;
  padding: 2px;
  transition: 0.7s ease all;
}

.card-header {
  text-align: right;
}

.navbar {
  gap: 15px;
}

.footer {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
