.header {
  width: 100%;
  background-color: #53c28b;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a span {
  color: #000;
  transition: 0.2s ease all;
}

.header a:hover span {
  color: yellow;
}

.header a {
  text-decoration: none !important;
  font-size: 18px;
  color: yellow !important;
  padding: 2px;
  transition: 0.7s ease all;
  font-weight: 600;
}

.header a {
}

.card-header {
  text-align: right;
}

.navbar {
  gap: 15px;
}

.footer {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
